.navbar, .navbar-brand {
    padding: 0;
}

.navbar {
    background-color: black;
    box-shadow: 1px 1px 5px 3px white;
    color: white;
}

.navbar-brand {
    font-family: 'Russo One';
    font-size: 50px;
    color: #dbdbdb;
}

.fi-rr-sign-out-alt {
    font-size: 30px;
}

.navbar-brand:hover, .fi-rr-sign-out-alt:hover {
    color: white;
    cursor: pointer;
}